0-main.c
1-main.c
2-main.c
3-main.c
4-main.c
5-main.c
6-main.c
7-main.c
8-main.c
10-main.c
10-triangles
8-squares
7-diagonals
6-lines
5-more_numbers
4-print_most_numbers
3-print_numbers
2-mul
1-isdigit
0-isuper
